.virt
rf-rainfall_v*.py
setup_gpu.py
*.txt
!oni.txt
!requirements.txt
*.csv
*.xls

# data folder
lawas
mulu
kuching
miri
sibu
kotakinabalu
sandakan
subang
kuantan
bayanlepas
senai
kotabharu
labuan
klia
valid
bakelalan