.virt
optuna_hyper.txt
rf-rainfall_v*.py
model-explain.txt
setup_gpu.py
original_input.csv
input_data.csv
# folder
kuching
miri
sibu
kotakinabalu
sandakan
subang
kuantan
bayanlepas
senai
kotabharu
labuan
klia
valid
lawas
mulu